/* SingleUser.module.css */

.singleUserContainer {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    max-width: 400px;
}

.userImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    margin-bottom: 10px;
    border: 2px solid black;
}

.userData {
    font-size: 1.2rem;
}

.username {
    font-weight: bold;
    margin-bottom: 5px;
}

.email {
    color: #555;
}

/* Add more styles as needed for other user data */