/* UnauthorizedPage.module.css */

.unauthorizedContainer {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 50px;
    text-align: center;
}

h2 {
    color: #d9534f;
    /* Bootstrap's danger color */
}

p {
    color: #333;
}